*{
  margin: 0;
  padding: 0;
}
body{
    background: grey;
  }
  .centralizar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .loading{
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
  }
  .loading p{
    font-size: 24px;
  }

.slider {
      display: none;
      width: 300px;
      height: 300px;
      background: powderblue;
      overflow: hidden;
    
    }
    .slider > .slider-content {
        display: flex;
        flex-wrap: nowrap;
        width: 100% ;
        transition: all 500ms ease;
    
      }
    
      .slider > .slider-content > .slider-item {
        flex: 0 0 auto;
        width: 100% ;
      }
    
      .slider > input:nth-child(1):checked ~ .slider-content {
        transform: translateX(0% );
      }
    
      .slider > input:nth-child(2):checked ~ .slider-content {
        transform: translateX(-100% );
      }
      .slider > input:nth-child(3):checked ~ .slider-content {
        transform: translateX(-200% );
      }
    
      .slider > input:nth-child(4):checked ~ .slider-content {
        transform: translateX(-300% );
      }
  
#Odio{
  margin-top: 20px;
  width: 100%;
  height: 40px;
}
ul{
  list-style: none;
}
li{
  width: 100%;
  height: 50px;
  margin: 10px;
  background: white;
}
